---
import { Image } from "astro:assets";
import greenCheck from "../assets/green-check.svg";
import WhatsappButton from "./WhatsappButton.tsx";

interface Props {
  img: any;
  namaPaket: string;
  harga: string;
  produks: string[];
}

const { img, namaPaket, harga, produks } = Astro.props;
const sukuNamaPaket = namaPaket.split(" ");
---

<div class="min-h-[865px] overflow-hidden rounded-[20px] text-center shadow-basic md:max-w-[360px]">
  <Image src={img} alt={namaPaket} class="max-h-[300px] w-full object-cover object-center" />
  <div class="flex min-h-[565px] w-full flex-col items-center justify-between gap-10 p-[30px]">
    <div class="flex flex-col gap-[30px]">
      <div class="flex flex-col gap-3 text-[40px] leading-[110%]">
        <p class="font-medium">
          {sukuNamaPaket[0]}
          <span class="text-accent-base">{sukuNamaPaket[1]} {sukuNamaPaket[2]}</span>
          {sukuNamaPaket[3]}
        </p>
        <p class="font-montserrat font-semibold">{harga}</p>
      </div>
      <div class="h-[3px] w-full rounded-full bg-accent-base"></div>
      <div class="flex flex-col items-center gap-3">
        {
          produks.map((produk) => (
            <div class="flex w-full items-center">
              <Image src={greenCheck} alt="Green Check" class="absolute z-10" />
              <p class="w-full text-center font-montserrat text-xl">{produk}</p>
            </div>
          ))
        }
      </div>
    </div>
    <WhatsappButton label="Pesan Sekarang" color="white" font="montserrat" width="full" />
  </div>
</div>
